.input-nama{
    font-family: 'Cooper Black';
    font-size:25pt;
    color:red;
    border-color: red;
    border-radius: 10px;
    border-width: 5px;
    padding: 10px;
    outline: none;
}
.input-nama::-webkit-input-placeholder{
    color: red;
}
.input-nama::-moz-placeholder{
    color: red;
}
.input-nama:-ms-input-placeholder{
    color: red;
}
.input-nama::-ms-input-placeholder{
    color: red;
}
.input-nama::placeholder{
    color: red;
}

.button{
    cursor: pointer;
    text-align: left !important;
    font-family: 'Cooper Black';
    font-size:15pt;
    color:white;
    border: 5px solid red;
    border-radius: 10px;
    padding: auto 10px;
    outline: none;
    background-color: red;
}
.button.active {
    background-color: white;
    color: red;
}

.button.benar{
    color: green !important;
    border-color: green !important;
    background-color: white !important;
}

.img{
    border-radius: 10px;
    /* border: 3px solid #0066FF; */
    border: 3px solid red;
}
.button .center{
    cursor: pointer;
    text-align: center !important;
    font-family: 'Cooper Black';
    font-size:15pt;
    color:white;
    border: 5px solid red;
    border-radius: 10px;
    padding: auto 10px;
    outline: none;
    background-color: red;
}